
.weather-card {
    background-color: #a8dadc;
    border-radius: 8px;
    padding: 12px;
}
.mainInfo {
    position: relative;
}
.mainInfo > .value {
    position: absolute;
    left: 180px;
    top: 30%;
}
.mainInfo > .desc {
    position: absolute;
    left: 180px;
    top: 45%;
}


.current-weather-grid > div {
    position: relative;
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px;
    border-radius: 8px;
    padding: 3px;
}

.current-weather-grid > div > .label {
    position: absolute;
    top: 60px;
    left: 90px;
}

.current-weather-grid > div > .value {
    font-size: x-large;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 90px;
}

.FakeLine {
    /*width: 1200px;*/
    /*height: 350px;*/
    /*overflow: scroll;*/
    overflow-x: scroll;
    /*overflow-y: scroll;*/
}

.weekDayDiv {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: blueviolet;
    padding-bottom: 8px;
    margin-bottom: 6px;
}
.weekDayDesc {
    position: absolute;
    left: 100px;
    top: 45px;
}

.weekDay {
    position: absolute;
    left: 100px;
    top: 20px;
}
.weekTemp {
    position: absolute;
    left: 100px;
    top: 72px;
}
.weekTempText {
    width: 150px;
    position: absolute;
    top: 1px;
    left: 30px;
}